footer {
  background-color: #212429;
  flex-shrink: 0;
  width: 100%;
}

.react-logo {
  animation: logo-spin infinite 20s linear;
  height: calc(10px + 2vmin);
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
